.banner-bg {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg);
  @include media-breakpoint-up(md) {
    height: 582px;
  }
  height: 560px;
}
.feel-img {
  height: 420px;
  @include media-breakpoint-up(md) {
    height: 252px;
  }
  @include media-breakpoint-up(lg) {
    height: 420px;
  }
}
.teacher-inside-img{
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg);
}
.teacher-personalImg {
  width: 48px;
  @include media-breakpoint-up(md) {
    width: auto;
  }
}
.space-asideImg {
  height: 210px;
  @include media-breakpoint-up(md){
    height: 266px;
  }
  @include media-breakpoint-up(lg) {
    height: 444px;
  }
}
.space-asideImg-item {
  height: 210px;
  @include media-breakpoint-up(md){
    height: 117px;
  }
  @include media-breakpoint-up(lg) {
    height: 207px;
  }
}
